<% total_users = 200 %>

<script>
  "use strict";

  var total_users = <%= total_users %>;

  function start_user_requests() {
    var user_ids = _.shuffle(_.range(1, total_users + 1)),
        i = 0,
        user_id = null;
      
    for (i in user_ids) {
      user_request(user_ids[i]);        
    }
  }
  
  function handle_response(user_id, html) {
    var $user = $("#user_" + user_id),
        $userview_wrapper = $user.closest(".userview-wrapper");
    $user.html(html);
    $userview_wrapper.addClass('new');
    setTimeout(function() { $userview_wrapper.removeClass('new') }, 500);    
  }

  function user_request(user_id) {
    $.ajax(
      "/features",
      {
        headers: {
          // Very very basic authentication :)
          Authorization: user_id
        }
      }
    ).success(function(html) {
      handle_response(user_id, html);      
      // New request in 1 second
      setTimeout(function() { user_request(user_id) }, rand_from_range(1000, 2000));

    }).fail(function(xhr) {
      handle_response(user_id, "Response failed");  
      // If we failed, try again in 3 seconds
      setTimeout(function() { user_request(user_id) }, rand_from_range(2000, 5000));
    });
  }
  
  function rand_from_range(from, to) {
    return Math.floor((Math.random()*(to-from))+from);
  }

  (function() {
    start_user_requests();
  })();

</script>

<h1>User Views</h1>

<p>Here is the view of this application from the perspective of <%= total_users %> different users. Each user has different features enabled. This site is using FluidFeatures.com to enable / disable features for this user-base.</p>

<!-- Feature images and descriptions -->
<div class="features">
  <h2>Features</h2>
  <% @features.each do |feature_name, feature| %>
    <div class="feature">
      <img src="/img/feature-icons/<%= feature_name %>.png">
      <%= feature_name %>
    </div>
  <% end %>
</div>

<!-- One window for each user -->
<div class="users">
  <% (1..total_users).each do |user_id| %>
    <div class="userview-wrapper">
      User: <%= user_id %>
      <div class="userview" id="user_<%= user_id %>"></div>
    </div>
  <% end %>
</div>
